<p id="notice"><%= notice %></p>

<h1>Reservable By Staffs</h1>

<table>
  <thead>
    <tr>
      <th>The date</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Staff</th>
      <th>Filled flag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservable_by_staffs.each do |reservable_by_staff| %>
      <tr>
        <td><%= reservable_by_staff.the_date %></td>
        <td><%= reservable_by_staff.start_time %></td>
        <td><%= reservable_by_staff.end_time %></td>
        <td><%= reservable_by_staff.staff.name %></td>
        <td><%= reservable_by_staff.filled_flag %></td>
        <td><%= link_to 'Show', reservable_by_staff %></td>
        <td><%= link_to 'Edit', edit_reservable_by_staff_path(reservable_by_staff) %></td>
        <td><%= link_to 'Destroy', reservable_by_staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservable By Staff', new_reservable_by_staff_path %>
